.App {
  text-align: center;
}

.navbar-bootstrap .navbar-logo{
height: 60px;
}

.nav-item .dropdown .float-right{
  padding-left: 25%;
}

.form-inline .form-control{
  width: 400px;
}

.fas.fa-user-circle{
  padding-left: 1em;
  color: rgb(100, 110, 203);
  font-size: 2em
}

.fas.fa-shopping-cart{
  padding-left: 1em;
  color: rgb(100, 110, 203);
  font-size: 1.8em
}

@media (min-width: 992px) {
  .navbar {
      height:50px;
  }
}